@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.glitch {
  position: relative;
  color: white;
}
.glitch::before,
.glitch::after {
  content: attr(class);
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
}
.glitch::before {
  animation: glitchTop 2s infinite linear alternate-reverse;
  color: #ff007f;
}
.glitch::after {
  animation: glitchBottom 1.5s infinite linear alternate-reverse;
  color: #39ff14;
}
@keyframes glitchTop {
  0% { clip: rect(0, 9999px, 0, 0); }
  50% { clip: rect(0, 9999px, 100%, 0); transform: translate(-5px, -5px); }
  100% { clip: rect(0, 9999px, 0, 0); }
}
@keyframes glitchBottom {
  0% { clip: rect(0, 9999px, 0, 0); }
  50% { clip: rect(0, 9999px, 100%, 0); transform: translate(5px, 5px); }
  100% { clip: rect(0, 9999px, 0, 0); }
}
